

*{
    margin: 0;
    padding: 0;
}
.navbar-brand{
    padding-left: 2%;
    padding-top: 2rem;
    
}
.navbar{
    background-color: rgba(194, 221, 245, 0.742);
    box-shadow: 2px 2px 10px rgba(27, 26, 26, 0.14);
}

.nav-item{
    padding-left: 1rem;
    
    padding-right: 1rem;
}
#body{
    background-color: rgb(194, 221, 245);
}


.form1{
    margin: 8% 25% 5% 25%;
    border: 1px solid rgb(181, 177, 177);
    border-radius: 10px;
    padding: 5%;
    background-color:rgba(181, 206, 229, 0.23);
    box-shadow: 1px 1px 4px rgba(141, 148, 148, 0.349);
    
    
}

.form1:hover{
    
    box-shadow: 1px 1px 10px rgba(95, 97, 97, 0.208);
}
.form-group{
    margin-bottom: 1rem;
    opacity: 90%;
}

.signin{
    margin-top: 1.5rem;
    
    
}
#err{
    visibility: hidden;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    border: 1px solid rgba(156, 128, 128, 0.734);
    border-radius: 7px;
    padding: 1rem;
    background-color:rgba(249, 0, 0, 0.07);
    box-shadow: 1px 1px 4px rgb(104, 111, 111);

}




  


    


