

*{
    margin: 0;
    padding: 0;
}
.navbar-brand{
    padding-left: 2%;
    padding-top: 1rem;
}

.nav-item{
    padding-left: 1rem;
    
    padding-right: 1rem;
}
#body{
    background-color: rgb(194, 221, 245);
}

#home {

    padding-bottom: 3%;
    
}

#list{
    background-color: rgb(194, 221, 245);
    padding-bottom: 5%;
    padding-top: 6%;
}

.card1{
    margin-bottom: 1.5rem;
}

.card{
    box-shadow: 1px 1px 11px rgba(20, 20, 20, 0.132);
}
.card:hover{
    box-shadow: 5px 5px 20px rgba(27, 26, 26, 0.232);
    transform: scale(1.01, 1.01);
    
}
#na{
    background-color: rgba(194, 221, 245, 0.742);
    box-shadow: 2px 2px 10px rgba(27, 26, 26, 0.14);
    position: fixed;
    top: 0px;
    z-index: 100;
}

   
